p{
    border-style: groove;
    border-width: 7px;
    border-color: gold;
    border-radius: 10px;
    padding: 5px;
}

h1{
    border-top-style: dotted;
    border-left-style: groove;
    border-left-width: 5px;
}