body{
    background-color: antiquewhite;

}
h1{
    color: blueviolet;
    background-color: azure;
    font-family: "roboto",sans-serif;
}
p{
    background-color: bisque;
    color: brown;
    font-family: "consolas",sans-serif;
}

#p5{
    background-color: cornflowerblue;
}

.even{
    color: blue;
    font-weight: bold;
}

.odd{
    font-style: italic;
}

#p1{
    text-decoration:  blue wavy underline;
    font-size: 30px;
}