.box{
    height: 100px;
    width: 100px;
    border: 1px solid;
    font-size: 40px;
    background-color: aquamarine;
    text-align: center;
    float: left;
}

img{
    clear: left;
}